.send input:nth-child(1) {
    height: 100%;
    width: 95%;
    padding: 0px 20px 0px 20px;
    background-color: #202020;
    border: none;
    outline: none;
    color: #fff;
    border: 5px solid #202020;
}