@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

:root {
    --first-color: #151515;
    --second-color: #fff;
}

::selection {
    background-color: #fff;
}

body {
    background-color: var(--first-color);
}

a {
    color: #fff;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
}

aside {
    width: 20%;
    border: 1px solid #fff;
}

.content {
    width: 80%;
}

.chat {
    border: 1px solid #fff;
    height: 80%;
}

.send {
    border: 1px solid #fff;
    height: 20%;
}